  body {
    font-family: 'Inter', sans-serif;
  }
  
.btn-custom-outline {
    display: inline-block;
    font-weight: 600; 
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 2px solid; 
    padding: 0.5rem 1rem; 
    transition: all 0.2s ease-in-out; 
    background-color: transparent; 
}
#previewContainer {
    display: contents;
}

.btn-custom-red {
    color: #dc3545; 
    border-color: #dc3545;
}
.btn-custom-red:hover {
    background-color: rgba(220, 53, 69, 0.3); 
    border-color: #dc3545; 
}

.btn-custom-green {
    color: #198754; 
    border-color: #198754;
}
.btn-custom-green:hover {
    background-color: rgba(25, 135, 84, 0.3); 
    border-color: #198754;
}

.btn-custom-gray {
    color: #6c757d;
    border-color: #6c757d;
}
.btn-custom-gray:hover {
    background-color: rgba(108, 117, 125, 0.3);
    border-color: #6c757d; 
    cursor: pointer !important;
    
}
